<table class="blueTable_width_70">
    <tr>
        <th align="center">[SESSIONS REPORT]</th>
    </tr>
    <tr>
        <td>@ViewData["reportSessions"]</td>
    </tr>
</table>

<table class="blueTable_width_70">
    <tr>
        <th align="center">[IMG REPORT]</th>
    </tr>
    <tr>
        <td>@ViewData["reportImg"]</td>
    </tr>
</table>